<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management</title>
</head>
<body>
<h1>Employee Details Using Thymeleaf</h1>
	<h3 style="color:blue;" th:text="'Welcome , '+${user.userName} +'!!'"></h3>
	
		<table border="1" th:if="${emp != null}">
			<tr>
				<th>Employee ID</th>
				<th>Name</th>
				<th>Designation</th>
				<th>Department</th>
				<th>Salary</th>
			</tr>
			<tr>
				<td th:text="${emp.empId}"></td>
				<td th:text="${emp.empName}"></td>
				<td th:text="${emp.empDepartment}"></td>
				<td th:text="${emp.empDesignation}"></td>
				<td th:text="${emp.empSalary}"></td>
			</tr>
		</table>
		
		<br>
	<br>
	<h2 th:if="${emp == null}"> Employee Does not exist</h2>

	<a href="./menu">Go to main Page</a>
	</body>
</html>